NUXT_AUTH_ISSUER=https://keycloak/realms/realm
NUXT_AUTH_CLIENT_ID=
NUXT_AUTH_CLIENT_SECRET=
NUXT_AUTH_REDIRECT_URI=http://localhost:3000/api/auth/callback

NUXT_QUARKUS_URL=http://localhost:8080

# Sentry error tracking (get DSN from https://sentry.io/settings/justus-henze/projects/)
NUXT_PUBLIC_SENTRY_DSN=